<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$lang.cp_home}{if $ur_here} - {$ur_here}{/if}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/style_1.css" rel="stylesheet" type="text/css" />
{literal}
{/literal}
{insert_scripts files="../js/utils.js,validator.js"}
<script language="JavaScript">
<!--
// 这里把JS用到的所有语言都赋值到这里
{foreach from=$lang.js_languages key=key item=item}
var {$key} = "{$item}";
{/foreach}
{literal}
if (window.parent != window)
{
  window.top.location.href = location.href;
}
{/literal}
//-->
</script>
</head>
<body class="loginbody" >
<div class="dataEye">
  <div class="loginbox">
    <div class="login-content">
      <div class="loginbox-title">
        <h3>云商城-小京东&nbsp;管理平台</h3>
      </div>
      <form method="post" action="privilege.php" name='theForm' onsubmit="return validate()">
      <div class="login-error"></div>
      <div class="row">
        <!-- <label class="field">用户名</label> -->
        <input type="text" class="input-text-user input-click" name="username"  placeholder="用户名">
      </div>
      <div class="row">
        <!-- <label class="field">密码</label> -->
        <input type="password" class="input-text-password input-click" name="password" id="password" placeholder="密码">
      </div>
	  {if $gd_version > 0}
	  <div class="row">
        <!-- 验证码 -->
        <input type="text" name="captcha" class="capital text_input1" placeholder="请输入验证码" style="float: left;height: 30px;margin-right: 10px;width: 150px;"/>
		<img src="index.php?act=captcha&{$random}" width="126" height="36" alt="CAPTCHA" border="0" onclick= this.src="index.php?act=captcha&"+Math.random() style="cursor: pointer; float:left " title="{$lang.click_for_another}" />
      </div>
      {/if}
      <div class="row" style="padding-bottom:0px !important;margin-top:-20px !important;";>
        <input type="checkbox" value="1" name="remember" id="remember" /><label for="remember" >{$lang.remember}</label>
      </div>

      <div class="row btnArea" style="padding-bottom:20px !important;margin-top:-10px !important;"; >
        <input type="submit" value="登录" class="button2" style="background: #FF8315 none repeat scroll 0 0;border: 1px solid #e85356;color: #fff;display: block;font-size: 16px;height: 40px;line-height: 31px;margin-top: 15px;width: 334px;cursor:pointer;" />
      </div>

      <input type="hidden" name="act" value="signin" />

      </form>
    </div>
    <div class="go-regist" style="color:#fff !important;">
        <a style="color:#fff !important;" href="../" >{$lang.back_home}</a> &raquo; <a href="get_password.php?act=forget_pwd">{$lang.forget_pwd}</a>
    </div>
  </div>

</div>
<script language="JavaScript">
<!--
  document.forms['theForm'].elements['username'].focus();
  {literal}
  /**
   * 检查表单输入的内容
   */
  function validate()
  {
    var validator = new Validator('theForm');
    validator.required('username', user_name_empty);
    //validator.required('password', password_empty);
    if (document.forms['theForm'].elements['captcha'])
    {
      validator.required('captcha', captcha_empty);
    }
    return validator.passed();
  }
  {/literal}
//-->
</script>
</body>